@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #E5E8EA;
}

.container h2 {
    width: 600px;
    margin-bottom: 15px;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    width: 600px;
    border: 1px solid #000000;
    background: linear-gradient(
        180deg,
        #f8f8f8,
        #ededed
    );
    font-family: 'Poppins', sans-serif;
    
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    border-radius: 32px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}

.container ul li.wrong {
    background: #c1121f;
    border: 3px solid #780000;
    color: #edede9;
}

.container ul li.correct {
    background: #4f772d;
    border: 3px solid #132a13;
    color: #edede9;
}

.container ul li:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.next-button-container {
    width: 650px;
    display: flex;
    justify-content: flex-end;
}

.next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    color: #FFFFFF;
    gap: 10px;
    border: 2px solid #FFFFFF;
    background-color: #38b000;
    border-radius: 32px;
}

.next-button:disabled {
    opacity: 0.5;
}

.arrow-img {
    width: 32px;
}

.submit-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 50px;
    
    gap: 10px;
    border: 2px solid #FFFFFF;
    background-color: #5a189a;
    border-radius: 32px;
}
.submit-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    color: #FFFFFF;
}

.button-loading .submit-text{
    visibility: hidden;
    opacity: 0;

}

.submit-arrow {
    width: 32px;
}

.button-loading .submit-arrow {
    visibility: hidden;
    opacity: 0;
}

.button-loading::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #FFFFFF;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.correct-solution {
    /* background: #4f772d; */
    background-color: #38b000;
    /* border: 2px solid #132a13; */
    /* border-radius: 16px; */
    color: #FFFFFF;

    font-family: 'Poppins', sans-serif;
    font-weight: 350;

    height: 40px;
    width: 100%;
    opacity: 0.8;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrong-solution {
    /* background: #c1121f; */
    background-color: #c1121f;
    /* border: 2px solid #780000; */
    /* border-radius: 16px; */
    color: #FFFFFF;   

    font-family: 'Poppins', sans-serif;
    font-weight: 350;

    height: 40px;
    width: 100%;
    opacity: 0.95;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coding-exercise-editor {
    display: flex;
    justify-content: center;
}

.coding-exercise-title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.coding-exercise-description {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.coding-exercise-editor {
    width: 100%;
    display: flex;
    align-items: center;
}

.code-editor-submit-next-buttons-container {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.wrong-solution-explanation {
    font-family: 'Poppins', sans-serif;
    margin: 5px;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E5E8EA;
}

.result-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    width: 600px;
    height: fit-content;
    padding: 40px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 32px;
}

.result-image {
    width: 160px;
}

.result-percent {
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bold;
}

.result-points {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.result-text-50 {
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #d62828;
}
.result-text-80 {
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #f77f00;
}
.result-text-99 {
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #aacc00;
}
.result-text-100 {
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #55a630;
}

.back-to-the-home-page-button {
    margin-top:80px;
    font-family: 'Poppins', sans-serif;
    border-radius: 32px;
    background-color: #ddd;
}

.progress-bar-container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 500px;
}
.progress-bar::-webkit-progress-bar {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #38b000;
    border-radius: 10px;
}

.progress-number {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container-mistake {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 0 20px;
    overflow-y: auto;
}

.mistake-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #38b000;
}

.mistake-exercises {
    display: flex;
    flex-direction: column;
}

.mistake-question-title {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.mistake-correct-solution {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.mistake-image {
    width: 20px;
}

.mistake-hline {
    height: 1px;
    width: 100%;
    background-color: #ddd;
    margin: 40px 0;
}

.mistake-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.mistake-to-result-button {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    height: 40px;

    font-family: 'Poppins', sans-serif;
    color: #4361ee;
    background-color: #FFFFFF;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    border: 3px solid #4361ee;
}